* {
    box-sizing: border-box;
}


.box {
    width: 100px;
    height: 100px;
    background: green;
    padding: 50px;
    border: 10px solid blue;
    text-align: center;
}
    /* topo, direita, baixo, esquerdo ...*/
    /* se tem apenas 3 (topo, os2 lados e baixo)
    

.box-2 {
    width: 50px;
    height: 50px;
    background-color: blueviolet;
    margin: 20px;
    padding: 50px;
}